# Misc
.DS_Store

# Pem
*.pem

# Node dependencies
node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build file
build/

# Logs
logs
*.log*

# Local env files
.env
.env.*
.env*.local
!.env.example

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*
